body {
    font-family: 'Montserrat', Arial, Verdana;
    background-color: lightgray;
    margin: 0;
}

header {
    grid-column: 1;
    grid-row: 1;
    background-color: #2c2f33;
    color: aliceblue;
}

a > img {
    padding-top: 0.2%;
    width: 17%;
}

.center {
    text-align: center;
}