.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

header {
    grid-column: 1;
    grid-row: 1;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    background-color: #2c2f33;
    color: aliceblue;
}

main {
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
    align-items: center;
}

main > .span {
    top: 50%;
    bottom: auto;
}